PORT=3000
JWT_SECRET=secret
NODE_ENV=development

MONGO_URI=mongodb://razaaliwebdev:root@ac-nyrbify-shard-00-00.rby7gxz.mongodb.net:27017,ac-nyrbify-shard-00-01.rby7gxz.mongodb.net:27017,ac-nyrbify-shard-00-02.rby7gxz.mongodb.net:27017/googleAuth?ssl=true&replicaSet=atlas-rxjewj-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0